body {
    background-color: var(--backgrounds);
    font-family: var(--font-text);
    color: var(--text);
}

.myContainer {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

.heroSection {
    margin-bottom: 7rem;
    background-image: url(../images/Laptop.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 25vw;
    background-position-y: bottom;
}

header {
    display: flex;
    justify-content: end;
}

.leftHero {
    width: 50vw;
    max-width: 100%;
}

.leftHero h1 {
    font-family: var(--font-title);
    color: var(--solid);
    font-size: 4.6vw;
    padding: 6rem 0 1rem;
}

#metier {
    color: var(--secondary-text);
}

.cont_btn_call {
    display: flex;
    gap: 10px;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.cont_btn_call a,
.voirPlus {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: var(--backgrounds);
    padding: 4px 6px;
    border: 3px solid var(--border);
    border-radius: 10px;
    background-color: var(--focus);
    transition: 0.3s;
}

.cont_btn_call a:hover,
.voirPlus:hover {
    box-shadow: 0px 0px 25px var(--shadow);
}

.cont_btn_call a img {
    width: 25px;
}

#image_mobil {
    display: none;
    width: 70%;
    margin: auto;
}

/* --- Fin hero section --- */

.myHr {
    border-color: var(--interactive);
    width: 50%;
    margin: auto;
}

#expliqueText {
    width: 20rem;
    margin: 4rem auto 10rem;
    max-width: 100%;
    text-align: center;
}

/* --- Mes traveaux --- */

.traveaux {
    margin-bottom: 6rem;
}

h2 {
    text-align: center;
    font-family: var(--font-title);
    font-size: 3rem;
    color: var(--solid);
    margin-bottom: 3rem;
}

.cont_traveaux,
.cont_testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.cont_one_trav {
    position: relative;
    border-radius: 10px;
    /* padding: 1rem 1.2rem; */
}

.linkWork {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-71%);
    transition: 0.3s;
}

.linkWork a {
    display: flex;
    text-decoration: none;
    color: var(--secondary-text);
    flex-direction: column;
    align-items: center;
}

.cont_one_trav:hover .linkWork {
    opacity: 1;
    transform: translateY(0);
}

.cont_one_trav>img {
    width: 100%;
    height: 245px;
    border: 3px solid var(--border);
    object-fit: cover;
    object-position: top;
    border-radius: 7px;
}

.radiusIcon {
    border-radius: 9px;
}

.linkMaquette img {
    width: 40px;
}

.siteWork img {
    width: 40px;
}

.linkWork a img {
    transition: 0.3s;
}

.linkWork a:hover img {
    box-shadow: 0px 0px 25px var(--shadow);
}

.voirPlus {
    width: fit-content;
    margin: 1rem auto 2.5rem;
}

/* --- Skills --- */

.cont_skills {
    display: grid;
    margin-bottom: 10rem;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    color: var(--text);
}

.cont_skills div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- Testimonials --- */

.testimonials {
    margin-bottom: 9rem;
}

.head_testim {
    display: flex;
    gap: 10px;
}

.head_testim img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

.info_testim {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_testim span {
    font-size: 15px;
}

.info_testim span:nth-child(1) {
    font-weight: bold;
    color: var(--secondary-text);
}

.content_testim {
    padding: 20px 25px;
    text-align: center;
}

.content_testim span {
    font-family: var(--font-title);
    font-size: 20px;
    color: var(--solid);
    line-height: 22px;
}

.cont_testimonials {
    margin-bottom: 4rem;
}

/* --- Footer --- */

.contact_me {
    text-align: start;
}